* {
  margin: 0;
  padding: 0;
}

#title {
  color: mix(red, purple, 50%);
}

@function color-text($background-color) {
  @if(lightness($background-color) >50) {
    @return black;
  }

  @else {
    @return white;
  }
}

@mixin background-color-mixin($color) {
  background-color: $color;
  color: color-title($color);
}

.title {
  height: 100vh;
  color: white;
  @include background-color-mixin(black)
}