* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: darkgray;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 15px;
  grid-auto-rows: minmax(210px, 100%);
}

.item {
  display: flex;
  align-items: center;
  border: 2px solid black;
  background-color: whitesmoke;
  font-size: 30px;
  padding: 10px;
}